# Ignore MATLAB temporary files
*.asv

#Ignore temp file for running tests
*.mat

# Ignore gif animations files
*.gif

# Ignore png images
*.png

# Ignore txt files
*.txt

# Ignore folder content
**/data_temp
